<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>File Metadata Microservice</h1>
         <h3>Submit a file to view its file size</h3>
      </div>
     <div>
       <!-- Upload file form -->
       <form name="upload_file" action="/upload_file" enctype="multipart/form-data" method="post">
         <input name="file_uploaded" type="file">
         <input type="submit" value="Upload">
       </form>
     </div>
   </body>

</html>
